{% extends 'blog/base.html'%}


{% block content%}
<div class="jumbotron">
    <h2>Login,please:</h2>
    <h3>(Must be superuser, please check with admin site)</h3>
    
    {% if form.errors %}
    
    <p> tour username or password didn't match! Please try again </p>
    
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% crsf_token %}
        {% form.as_p %}
        <input type="submit" class="btn btn-primary" value="LOGIN">
        <input type="text" name="next" value="{{next}}">
        
    </form>
    
    
</div>


{% endblock%}